n8n-workflows/router.json
{
  "id": "ghiath-router",
  "name": "Ghiath Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghiath",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "ghiath-router"
    },
    {
      "parameters": {
        "jsCode": "// Decide which agent handles this message and which hermes gateway to call.\n// Routing is config-driven: set the n8n environment variable GHIATH_ROUTES to a\n// JSON object to match your agents.conf. Falls back to the neutral defaults\n// (assistant / engineer / researcher) so it works out of the box.\n// Example GHIATH_ROUTES value:\n//   {\"assistant\":{\"port\":8642,\"model\":\"deepseek/deepseek-v2-flash\",\"folder\":\"scratchpads\",\"default\":true},\n//    \"engineer\":{\"port\":8643,\"model\":\"anthropic/claude-opus-4-8\",\"folder\":\"projects\",\"match\":\"build|code|implement|refactor|debug|bug|deploy\"},\n//    \"researcher\":{\"port\":8644,\"model\":\"z-ai/glm-4.6\",\"folder\":\"memory\",\"match\":\"research|investigate|find out|literature\"}}\nconst DEFAULT_ROUTES = {\n  assistant:  { port: 8642, model: 'deepseek/deepseek-v2-flash', folder: 'scratchpads', default: true },\n  engineer:   { port: 8643, model: 'anthropic/claude-opus-4-8', folder: 'projects', match: 'build|code|ngoding|implement|refactor|debug|bug|deploy' },\n  researcher: { port: 8644, model: 'z-ai/glm-4.6', folder: 'memory', match: 'research|cari|riset|investigate|find out|literature' },\n};\n\nlet routes = DEFAULT_ROUTES;\ntry { if ($env.GHIATH_ROUTES) routes = JSON.parse($env.GHIATH_ROUTES); } catch (e) {}\n\nconst body = $input.first().json.body || $input.first().json;\nconst text = (body.message || body.text || '').toString();\nconst lower = text.toLowerCase();\n\n// Pick the first agent whose \"match\" regex hits; otherwise the \"default\" agent.\nlet agent = Object.keys(routes).find(a => routes[a].default) || Object.keys(routes)[0];\nfor (const [name, cfg] of Object.entries(routes)) {\n  if (cfg.match && new RegExp(cfg.match).test(lower)) { agent = name; break; }\n}\nconst r = routes[agent];\nconst url = `http://host.docker.internal:${r.port}/v1/chat/completions`;\nconst folder = r.folder;\n\n// Instruct the agent to persist its output as a schema-compliant \"result\" note\n// (status \"done\" so the vault-watch workflow does not re-trigger it).\nconst prompt = `${text}\\n\\nWhen you are done, save a concise note of your result into ${folder}/ with a descriptive filename. Begin the file with YAML front-matter: type: result, status: done, owner: ${agent}, from: ${agent}, created (today's date), tags: [].`;\n\nreturn [{ json: { agent, folder, url, model: r.model, prompt } }];"
      },
      "id": "route",
      "name": "Route To Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.model, messages: [ { role: 'user', content: $json.prompt } ] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-hermes",
      "name": "Call Hermes Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ agent: $('Route To Agent').item.json.agent, reply: $json.choices ? $json.choices[0].message.content : $json }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        300
      ]
    }
  ],
  "connections": {
    "Inbound Webhook": {
      "main": [
        [
          {
            "node": "Route To Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route To Agent": {
      "main": [
        [
          {
            "node": "Call Hermes Gateway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Hermes Gateway": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
