n8n-workflows/vault-watch.json
{
  "id": "ghiath-vault-watch",
  "name": "Ghiath Vault Watch",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/vault",
        "events": [
          "add"
        ],
        "options": {
          "usePolling": true,
          "ignored": "**/.obsidian/**"
        }
      },
      "id": "watch",
      "name": "Watch Vault",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// A new note landed in the vault. The folder it landed in decides which agent\n// owns it, i.e. which agent should be triggered to act on the handoff.\n// Config-driven: reads the same GHIATH_ROUTES env var as the router (agent ->\n// {port, model, folder}); falls back to neutral defaults.\nconst fs = require('fs');\nconst DEFAULT_ROUTES = {\n  assistant:  { port: 8642, model: 'deepseek/deepseek-v2-flash', folder: 'scratchpads' },\n  engineer:   { port: 8643, model: 'anthropic/claude-opus-4-8', folder: 'projects' },\n  researcher: { port: 8644, model: 'z-ai/glm-4.6', folder: 'memory' },\n};\nlet routes = DEFAULT_ROUTES;\ntry { if ($env.GHIATH_ROUTES) routes = JSON.parse($env.GHIATH_ROUTES); } catch (e) {}\n\n// Build folder -> agent map from the config.\nconst agentByFolder = {};\nfor (const [name, cfg] of Object.entries(routes)) { if (cfg.folder) agentByFolder[cfg.folder] = name; }\nconst folders = Object.keys(agentByFolder);\nif (!folders.length) return [];\n\nconst path = ($input.first().json.path || '').toString();\nif (!path.endsWith('.md')) return [];\n\n// The vault is always mounted inside n8n at /data/vault regardless of\n// its host folder name, so match against that fixed internal path.\nconst folderRe = new RegExp('/data/vault/(' + folders.join('|') + ')/');\nconst m = path.match(folderRe);\nif (!m) return [];\n\n// Loop guard: only \"open\" notes are handoffs to act on. An agent's own output\n// is written with status \"done\" (or type \"result\"), so it never re-triggers.\n// Notes without front-matter are treated as human-created open tasks.\nlet status = 'open';\ntry {\n  const raw = fs.readFileSync(path, 'utf8');\n  const fm = raw.match(/^---\\n([\\s\\S]*?)\\n---/);\n  if (fm) {\n    const s = fm[1].match(/^status:\\s*(\\S+)/m);\n    if (s) status = s[1].toLowerCase();\n  }\n} catch (e) {\n  // Unreadable (e.g. mid-write); skip this pass rather than misfire.\n  return [];\n}\nif (status !== 'open') return [];\n\nconst folder = m[1];\nconst agent = agentByFolder[folder];\nconst r = routes[agent];\nconst url = `http://host.docker.internal:${r.port}/v1/chat/completions`;\n\n// Path as the agent sees it on the host (agents run on the host, not in n8n).\nconst hostPath = path.replace('/data/vault/', '');\nconst prompt = `An open note was placed in your folder: ${hostPath}\\nRead it, set its status to \"doing\", act on it, then set its status to \"done\". Record your result as a note with type \"result\", status \"done\", owner yourself. If the task should move to another agent, drop an \"open\" note in that agent's folder with owner set to them.`;\n\nreturn [{ json: { agent, folder, url, model: r.model, prompt, note: hostPath } }];"
      },
      "id": "route",
      "name": "Route By Folder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.model, messages: [ { role: 'user', content: $json.prompt } ] }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "call-hermes",
      "name": "Trigger Owning Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Watch Vault": {
      "main": [
        [
          {
            "node": "Route By Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Folder": {
      "main": [
        [
          {
            "node": "Trigger Owning Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
